## .NET
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage*
*.coverage
*.coveragexml

# Docker
.docker/

# JetBrains Rider
.idea/
*.sln.iml

# Node (caso use ferramentas front-end)
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example